/* Remove dashboard background when login page is active */
body.login-screen {
  background: none !important;
}

/* FINAL login background */
.login-root {
  width: 100vw;
  height: 100vh;

  background-image: url("https://images.unsplash.com/photo-1637995735729-c43250f1ef47?q=80&w=1176&auto=format&fit=crop");
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;

}